.detail-container {
  inline-size: 100%;
}

.result-wrapper {
  display: flex;
  flex-flow: row nowrap;
  inline-size: 100%;
  margin: 0 auto;
  max-inline-size: 58.4375rem;
  gap: 0.625rem;
}

.result-more {
  display: flex;
  flex-flow: row nowrap;
  inline-size: 100%;
  margin: 0 auto;
  max-inline-size: 58.4375rem;
}
